<%- markdown(`
Consultant Tech Lead Senior @ [Octo Technology](https://octo.com/)

`) %>

<%- partial('_partial/find_me') %>

<ul class="my-4">
    <li><a href="/categories/newsletter">Newsletter issues</a></li>
    <li><a href="/">Articles</a></li>
    <li><a href="/">Publications</a></li>
</ul>

<div class="card-culture-code">
    <h2>My first publication - Culture API</h2>
    <a href="/culture-api">
        <div>
            <img alt="Culture API Cover" src="/images/culture-api/COUV_Culture_API.webp"/>
        </div>
    </a>
</div>

<%- partial('_partial/buy_me_coffee') %>

<div style="margin-top:32px;">
    <%- partial('_partial/signup') %>
</div>



<%- markdown(`
---

Powered by [Hexo.io](https://hexo.io/).
Theme based on Cactus by [Pieter Robberechts](https://github.com/probberechts/hexo-theme-cactus).
`) %>
